# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.local

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Data & artifacts
warehouse/warehouse.duckdb
data/processed/
#data/raw/   # uncomment to ignore all raw logs

# Tools
dbt_project/target/
dbt_project/logs/
.prefect/
.streamlit/
